.App{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 20px 50px;
  box-sizing: border-box;
}

.blog{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 20px 50px;
  box-sizing: border-box;
}

.notion-article{
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  list-style-type: none;
  margin: 10px;
  box-sizing: border-box;
}

.notion-article-id{
  font-size: 0.6em;
  opacity: 0.7;
}

.notion-article a {
  text-decoration: none;
  color: black
}

#reload{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reload img{
  width: 10px;
  transition: all 0.3s ease-in-out;
  margin: 0px 10px;
}

#reload:hover #loading-icon{
  transform: rotate(360deg) scale(1.2);
}

.notion-article button{
  border: none;
  outline: none;
  background-color: #333333;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
}

.notion-article button div{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 200%;
  left: 0;
  background: #0070f3;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180);
  transition: all 0.1s ease-in-out;
}

.notion-article button:hover div{
  top: 0;
  left: 0;
  transform: rotate(0);
}

.notion-article button:hover{
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
}